#name{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%px;
}
.frame{
    padding-left: 10%;
    padding-right: 10%;
}
.container1{
    display:flex;
    justify-content: center;
}

.bar{
    flex:none;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    width:33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sk, .wk{
    margin-top: 30px;
    margin-bottom: 0px;
}

.sk-items{
    margin-left: 5%;
}

.switch-sk{
    margin-right: 15px;
}

.rd{
    margin-top: 40px;
    margin-bottom: 0px;
}

.rd-items{
    margin-left: 5%;
}

.switch-rd{
    margin-right: 15px;
}

ul{
    margin-top: 0px;
}